#title {
    font-family: Freestyle Script;
    font-size: 60px;
    margin: 20px;
    transition: font-size 3s;
}
#title:hover {
    font-size: 200px;
}

#minititle {
    font-family: Freestyle Script;
    font-size: 40px;
    margin: 20px;
}
/* //////////////////uploadbar//////////// */
#uploadBar {
    margin: 20px;
}
input {
    height: 30px;
    font-size: 30px;
    font-family: News Cycle, sans-serif;
    color: rgb(117, 117, 117);
    border: 1px solid rgb(117, 117, 117);
    padding: 6px;
    margin: 10px;
}

#file,
#upload,
#uploadcomment,
#getMoreImages {
    display: none;
}
#filelable,
#uploadlable {
    border: 1px solid rgb(117, 117, 117);
    font-size: 25px;
    color: rgb(117, 117, 117);
    background-color: white;
    font-family: News Cycle, sans-serif;
    cursor: pointer;
    margin: 10px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 90;
    padding-top: 2px;
}
#filelable:hover,
#uploadlable:hover {
    border: 3px solid rgb(77, 123, 159);
}

/* /////////////////photos//////////// */
/* #main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.imgContainer {
    border: 1px solid rgb(117, 117, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: Freestyle Script;
    font-size: 40px;
    color: rgb(117, 117, 117);
    transition: font-size 5s;
    cursor: pointer;
}
.imgContainer:hover {
    border: 4px solid rgb(77, 123, 159);
    margin: 17px;
    cursor: pointer;
}
.imgbox {
    height: 280px;
    width: 400px;
    cursor: pointer;
}
.imgtitle {
    padding: 5px;
    margin: 5px;
}
#getMoreImageslable {
    position: absolute;
    right: 50%;
    border: 1px solid rgb(117, 117, 117);
    font-size: 30px;
    color: rgb(117, 117, 117);
    background-color: white;
    font-family: Freestyle Script;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
}

#getMoreImageslable:hover {
    border: 3px solid rgb(77, 123, 159);
    /* margin: 8px; */
}

/* /////////////////////////MODAL/////////////////// */

#modal {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}
.modalbackround {
    display: flex;
    flex-direction: row;
    background-color: white;
    transition: 0.5s;
    font-family: News Cycle, sans-serif;
    font-size: 25px;
    padding-top: 20px;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modalphoto {
    height: 65vh;
    width: 50vw;
}
.title {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family: Freestyle Script;
}
.description {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 20px;
}
.uploader {
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 17px;
}
.right {
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.topright {
    display: flex;
    flex-direction: column;
}
#x {
    align-self: flex-end;
    font-size: 40px;
    cursor: pointer;
    font-family: Freestyle Script;
}
#commentsinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 45px;
    font-family: Freestyle Script;
}
#commentsinput2 {
    width: 20vw;
    font-family: News Cycle, sans-serif;
    font-size: 20px;
}
.commentscontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    font-size: 20px;
}
.CommentContainer {
    color: rgb(117, 117, 117);
    height: 13vh;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: space-evenly;
    background-color: rgb(218, 229, 233);
    padding-left: 10px;
}
.commentfirst {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.username {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
}
.comment {
    font-size: 18px;
}
.date {
    align-self: flex-end;
    font-size: 15px;
}
