.imgContainer {
    border: 1px solid rgb(166, 166, 166);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-family: Freestyle Script;
    font-size: 40px;
    color: rgb(117, 117, 117);
}
#file {
    display: none;
}
#upload {
    display: none;
}

input {
    height: 30px;
    font-size: 30px;
    font-family: Freestyle Script;
    color: rgb(166, 166, 166);
    border: 1px solid darkgrey;
    padding: 6px;
    margin: 10px;
}
#filelable {
    border: 1px solid darkgrey;
    font-size: 30px;
    color: rgb(117, 117, 117);
    background-color: white;
    font-family: Freestyle Script;
    cursor: pointer;
    margin: 10px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#uploadlable {
    font-size: 30px;
    color: rgb(117, 117, 117);
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;

    cursor: pointer;
    background-color: white;
    font-family: Freestyle Script;
    border: 1px solid rgb(166, 166, 166);
    margin: 10px;
}

#title {
    font-family: Freestyle Script;
    font-size: 60px;
    margin: 20px;
}
#minititle {
    font-family: Freestyle Script;
    font-size: 40px;
    margin: 20px;
}

.imgbox {
    height: 300px;
    width: 400px;
}

.window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#uploadImg {
    margin: 20px;
}
